.ride-info img{
    width: 250px;
    height: 200px;
    padding: 10px;
}

.ride-info{
    border: 1px solid #fff;
    box-shadow: 15px 15px 15px gray;
    border-radius: 10px;
    background: white;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 200px;
    text-align: center;
}
.banner{
    background-image: url('../../images/Bg.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}